@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
* {
  background-color: #eae7dc;
}

body[data-aos-delay="8000"] [data-aos],
[data-aos][data-aos][data-aos-delay="8000"] {
  transition-delay: 8000ms;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}
nav ul li {
  list-style: none;
  font-family: "IBM Plex Sans", sans-serif;
  color: #6e6e6b;
}

.css-typing {
  height: 90vh;
}

.css-typing p {
  border-right: 0.15em solid #d8c3a5;
  font-family: "Russo One", sans-serif;
  font-size: 50px;
  color: #e85a4f;
  white-space: nowrap;
  overflow: hidden;
}

.name {
  position: relative;
  top: 20vh;
  left: 38.5vw;
}
.job {
  position: relative;
  top: 20vh;
  left: 27vw;
}

.css-typing p:nth-child(1) {
  width: 6.8em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 13.5em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 3s steps(40, end);
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.scrolling-container {
  position: relative;
  bottom: 30vh;
  text-align: center;
  height: 20vh;
  font-family: "IBM Plex Sans", sans-serif;
}

.scrolling-container p {
  color: #6e6e6b;
}

.scrolling-container i {
  margin-top: 20px;
  color: #6e6e6b;
  font-size: 30px;
  animation-name: bounce;
  animation-duration: 2s;
  animation-delay: 10s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
#skills-section {
  height: 80vh;
}

.skills-title {
  text-align: center;
  font-family: "Russo One", sans-serif;
  color: #e98074;
  font-size: 25px;
}

.skills-container {
  padding-top: 40px;
  margin-bottom: 50px;
}

.first-skills {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.second-skills {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.third-skills {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.fourth-skills {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#icon {
  font-size: 60px;
}

.single-skill {
  width: 100px;
  height: 100px;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
}

.single-skill p {
  color: #6e6e6b;
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid #d8c3a5;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid #d8c3a5;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-15px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
