@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

* {
  background-color: #ffe1c8;
  box-sizing: border-box;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body[data-aos-delay="5000"] [data-aos],
[data-aos][data-aos][data-aos-delay="5000"] {
  transition-delay: 5000ms;
}

#title-page {
  width: 100vw;
}

nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}
nav ul li {
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.navy-background {
  width: 70vw;
  height: 80vh;
  margin-top: 50px;
  background-color: #140a41;
  display: flex;
  flex-direction: column;
}

.title-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.css-typing {
  width: 100%;
  height: 65%;
  background-color: #140a41;
}

.css-typing p {
  border-right: 0.15em solid white;
  font-family: "Fraunces", serif;
  color: white;
  white-space: nowrap;
  overflow: hidden;
}

.css-typing .name {
  font-weight: 600;
  font-size: 55px;
  margin-top: 30px;
}

.css-typing .job {
  width: 80%;
  font-weight: 200;
  font-size: 50px;
  margin-top: 40px;
}

.red-shape {
  width: 160px;
  height: 45px;
  background-color: #ff412d;
  position: relative;
  right: 180px;
  bottom: 250px;
}

.name-cont {
  width: 80%;
  height: 80%;
  position: relative;
  left: 4vw;
  background-color: #140a41;
  top: 8vh;
}

.name-cont p {
  background-color: #140a41;
}

.css-typing p:nth-child(1) {
  width: 6.5em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 11.5em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 3s steps(40, end);
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.social {
  height: 100px;
  background-color: #140a41;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 10px;
}

.social i {
  background-color: #140a41;
  color: white;
  font-size: 40px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.scroll-container {
  display: flex;
  justify-content: center;
  background-color: #140a41;
  position: relative;
  bottom: 20px;
}

.scroll {
  text-align: center;
  background-color: #140a41;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}

.scroll p {
  color: white;
  font-size: 20px;
  background-color: #140a41;
}

.scroll i {
  background-color: #140a41;
  color: white;
  margin-top: 10px;
  font-size: 30px;
  animation-name: bounce;
  animation-duration: 2s;
  animation-delay: 8s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

#skills-section {
  height: 750px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #194b2d;
  z-index: 1;
}

.skills-container {
  background-color: #fffaf0;
  height: 510px;
  width: 820px;
  position: relative;
  top: 100px;
  left: 20px;
  z-index: 3;
}

.skills-title {
  text-align: center;
  font-family: "Fraunces", serif;
  color: white;
  font-size: 25px;
  background-color: #194b2d;
  width: 30%;
  height: 50%;
  position: relative;
  top: 180px;
  right: 20px;
}

.skills-title h1 {
  background-color: #194b2d;
  font-size: 45px;
  font-weight: 500;
  text-align: left;
}

.skills-title p {
  background-color: #194b2d;
  margin-top: 50px;
  text-align: left;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  width: 75%;
}

.first-skills {
  display: flex;
  padding-top: 40px;
  justify-content: space-evenly;
  width: 790px;
  background-color: #fffaf0;
  z-index: 3;
  padding-bottom: 10px;
}
.second-skills {
  display: flex;
  justify-content: space-evenly;
  width: 790px;
  background-color: #fffaf0;
  padding-bottom: 10px;
  z-index: 3;
}
.third-skills {
  display: flex;
  justify-content: space-evenly;
  width: 790px;
  padding-bottom: 10px;
  background-color: #fffaf0;
  z-index: 3;
}
.fourth-skills {
  display: flex;
  justify-content: space-evenly;
  width: 790px;
  background-color: #fffaf0;
  z-index: 3;
}

.pink-background {
  width: 820px;
  height: 520px;
  background-color: pink;
  z-index: 2;
  position: relative;
  bottom: 440px;
  left: 270px;
}

#icon {
  font-size: 65px;
  background-color: #fffaf0;
}

.single-skill {
  width: 100px;
  height: 100px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: #fffaf0;
}

.single-skill img {
  background-color: #fffaf0;
}

.single-skill p {
  color: black;
  background-color: #fffaf0;
  margin-top: 5px;
}

#projects-section {
  width: 100vw;
  padding-top: 20px;
}

.project-cont {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 50px;
}

.projects-title {
  width: 550px;
  height: 300px;
  text-align: center;
  background-color: #963c19;
}

.projects-title h1 {
  background-color: #963c19;
  color: white;
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-weight: 500;
  position: relative;
  top: 50px;
}

.projects-title p {
  position: relative;
  top: 90px;
  width: 80%;
  background-color: #963c19;
  color: white;
  font-family: "Montserrat", sans-serif;
  left: 55px;
  font-size: 15px;
}

.yellow-box {
  width: 45px;
  height: 140px;
  background-color: #ffff23;
  position: relative;
  left: 35vw;
  z-index: 1;
  bottom: 10px;
}

.first-project {
  display: flex;
  justify-content: space-between;
  height: 600px;
  width: 100vw;
  background-color: #fffaf0;
}

.second-project {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 600px;
  width: 100vw;
  background-color: white;
}
.third-project {
  display: flex;
  justify-content: space-between;
  height: 600px;
  width: 100vw;
  background-color: #c8e1fa;
}
.fourth-project {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 600px;
  width: 100vw;
  background-color: #ffe1c8;
}

.first-image {
  width: 500px;
  height: 400px;
  position: relative;
  top: 140px;
  left: 30px;
}

.first-image img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  background-color: #fffaf0;
}

.first-details {
  width: 600px;
  height: 420px;
  background-color: #55003c;
  position: relative;
  top: 180px;
}

.first-details-cont {
  background-color: #55003c;
  width: 500px;
  height: 380px;
  position: relative;
  left: 50px;
  top: 15px;
}
.first-details-cont h2 {
  background-color: #55003c;
  color: white;
  position: relative;
  top: 20px;
  font-size: 38px;
  font-family: "Fraunces", serif;
}
.first-details-cont p {
  background-color: #55003c;
  width: 450px;
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 40px;
}

.first-details-cont button {
  background-color: #55003c;
  border: 2px solid white;
  color: white;
  width: 120px;
  height: 40px;
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
  top: 50px;
  font-size: 15px;
}

.first-details-cont button:hover {
  border: 4px solid white;
}

.first-details-cont button i {
  background-color: #55003c;
  margin-right: 10px;
  font-size: 20px;
  position: relative;
  top: 2px;
}

.green-shape {
  width: 50px;
  height: 140px;
  background-color: #95ab7f;
  position: relative;
  left: 500px;
  top: 100px;
  z-index: 1;
}

.small-img-cont {
  width: 22vw;
  height: 35vh;
  background-color: #95ab7f;
  position: relative;
  left: 2vw;
  top: 5vh;
}

.small-eclectic-img {
  width: 21vw;
  height: 36vh;
  object-fit: cover;
  z-index: 1;
  position: relative;
  top: 15px;
  right: 14px;
}

.second-details {
  width: 520px;
  height: 450px;
  background-color: #142f43;
}

.orange-shape {
  width: 140px;
  height: 40px;
  position: relative;
  top: 20px;
  right: 200px;
  z-index: 2;
  background-color: #ffab4c;
}

.second-image {
  width: 500px;
  height: 400px;
  background-color: rgb(245, 198, 111);
  position: relative;
  top: 20px;
  right: 10px;
}

.second-image img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  position: relative;
  top: 28px;
  right: 30px;
  background-color: #e2e5e8;
}
.second-project-sm-images {
  position: relative;
  object-fit: cover;
  left: 550px;
  bottom: 150px;
  z-index: 1;
  width: 280px;
  height: 300px;
}

.second-details-cont {
  background-color: #142f43;
  width: 350px;
  height: 400px;
  position: relative;
  left: 50px;
  top: 20px;
}
.second-details-cont h2 {
  background-color: #142f43;
  color: white;
  font-size: 38px;
  font-family: "Fraunces", serif;
  position: relative;
  top: 20px;
}
.second-details-cont p {
  background-color: #142f43;
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  z-index: 3;
  position: relative;
  top: 40px;
}

.second-details-cont button {
  background-color: #142f43;
  border: 2px solid white;
  color: white;
  width: 120px;
  height: 40px;
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
  top: 40px;
  font-size: 15px;
}
.second-details-cont button:hover {
  border: 4px solid white;
}

.second-details-cont button i {
  background-color: #142f43;
  margin-right: 10px;
  font-size: 20px;
  position: relative;
  top: 2px;
}

.third-image {
  width: 550px;
  height: 400px;
  position: relative;
  top: 60px;
  left: 100px;
}

.third-image img {
  width: 550px;
  height: 400px;
  object-fit: cover;
  background-color: #c8e1fa;
}

.third-details {
  width: 650px;
  height: 420px;
  position: relative;
  top: 180px;
  background-color: #140a41;
}
.third-details-cont {
  background-color: #140a41;
  width: 500px;
  height: 350px;
  position: relative;
  left: 80px;
  top: 30px;
}
.third-details-cont h2 {
  background-color: #140a41;
  color: white;
  font-size: 38px;
  font-family: "Fraunces", serif;
  position: relative;
  top: 20px;
}
.third-details-cont p {
  background-color: #140a41;
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 40px;
}
.third-details-cont button {
  background-color: #140a41;
  border: 2px solid white;
  color: white;
  width: 120px;
  height: 40px;
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
  top: 60px;
  font-size: 15px;
}

.third-details-cont button:hover {
  border: 4px solid white;
}

.third-details-cont button i {
  background-color: #140a41;
  margin-right: 10px;
  font-size: 20px;
  position: relative;
  top: 2px;
}

.blue-shape {
  width: 45px;
  height: 140px;
  background-color: turquoise;
  position: relative;
  left: 45vw;
  top: 12vh;
  z-index: 1;
}

.fourth-image {
  width: 550px;
  height: 400px;
  position: relative;
  top: 130px;
  right: 50px;
}

.fourth-image img {
  width: 550px;
  height: 400px;
  object-fit: cover;
  background-color: #ffe1c8;
}

.fourth-details {
  width: 650px;
  height: 450px;
  background-color: #194b2d;
}

.fourth-details-cont {
  background-color: #194b2d;
  width: 450px;
  height: 350px;
  position: relative;
  left: 50px;
  top: 30px;
}

.fourth-details-cont h2 {
  background-color: #194b2d;
  color: white;
  font-size: 38px;
  font-family: "Fraunces", serif;
  position: relative;
  top: 20px;
}
.fourth-details-cont p {
  background-color: #194b2d;
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 40px;
}

.fourth-details-cont button {
  border: 2px solid white;
  background-color: #194b2d;
  color: white;
  width: 120px;
  height: 40px;
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
  top: 60px;
  font-size: 15px;
}

.fourth-details-cont button:hover {
  border: 4px solid white;
}

.fourth-details-cont button i {
  background-color: #194b2d;
  margin-right: 10px;
  font-size: 20px;
  position: relative;
  top: 2px;
}

.pink-shape {
  width: 150px;
  height: 45px;
  background-color: pink;
  position: relative;
  top: 20px;
  right: 100px;
}

#experience-section {
  background-color: #c8e1fa;
  padding-top: 30px;
  padding-bottom: 30px;
}

.experience-tit {
  display: flex;
  justify-content: center;
  background-color: #c8e1fa;
}

.experience-title {
  width: 400px;
  height: 250px;
  background-color: #140a41;
}

.experience-title h2 {
  text-align: center;
  position: relative;
  top: 80px;
  font-family: "Fraunces", serif;
  color: white;
  background-color: #140a41;
  font-size: 30px;
}

.experience-cont {
  background-color: #c8e1fa;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.first-experience {
  width: 400px;
  height: 60vh;
  background-color: white;
}

.second-experience {
  width: 400px;
  height: 60vh;
  background-color: white;
}

.third-experience {
  width: 400px;
  height: 60vh;
  background-color: white;
}

.first-experience h4 {
  background-color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 23px;
  font-family: "Fraunces", serif;
  text-align: center;
  color: #140a41;
}
.first-experience p {
  background-color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #140a41;
  padding-bottom: 10px;
}

.first-experience ul li {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  color: #140a41;
  padding-top: 10px;
}

.first-experience ul {
  width: 80%;
  position: relative;
  left: 50px;
  margin-top: 10px;
}
.second-experience h4 {
  background-color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 23px;
  font-family: "Fraunces", serif;
  text-align: center;
  color: #140a41;
}
.second-experience p {
  background-color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #140a41;
  padding-bottom: 10px;
}

.second-experience ul li {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  color: #140a41;
  padding-top: 10px;
}

.second-experience ul {
  width: 80%;
  position: relative;
  left: 50px;
  margin-top: 10px;
}
.third-experience h4 {
  background-color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 23px;
  font-family: "Fraunces", serif;
  text-align: center;
  color: #140a41;
}
.third-experience p {
  background-color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #140a41;
  padding-bottom: 10px;
  font-size: 15px;
}

.third-experience ul li {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  color: #140a41;
  padding-top: 10px;
  font-size: 15px;
}

.third-experience ul {
  width: 80%;
  position: relative;
  left: 50px;
  margin-top: 10px;
}

.edu-cont {
  display: flex;
  background-color: #c8e1fa;
  justify-content: center;
}

.education-container {
  margin-top: 70px;

  width: 700px;
  height: 300px;
  background-color: #142f43;
  padding: 10px;
}

.education-title {
  text-align: center;
  font-family: "Fraunces", serif;
  padding-top: 10px;
  color: white;
  background-color: #142f43;
  z-index: 1;
}

.red-shape-two {
  background-color: #ff412d;
  width: 40px;
  height: 100px;
  z-index: 2;
  position: relative;
  left: 300px;
  bottom: 90px;
}

.education-title h3 {
  background-color: #142f43;
  font-size: 28px;
  z-index: 1;
}

.yellow-shape-two {
  background-color: #ffab4c;
  width: 40px;
  height: 110px;
  z-index: 2;
  position: relative;
  right: 100px;
}
.education-names {
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 20px;
  background-color: #142f43;
  z-index: 1;
  font-size: 14px;
}

.education-names strong {
  background-color: #142f43;
  z-index: 1;
}

.education-names p {
  padding: 10px;
  color: white;
  background-color: #142f43;
  z-index: 1;
  position: relative;
  left: 30px;
  width: 90%;
}

#about-section {
  height: 750px;
  background-color: #963c19;
  position: relative;
  bottom: 20px;
}

.about-cont {
  background-color: #963c19;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-cont h2 {
  font-family: "Fraunces", serif;
  color: white;
  font-size: 40px;
  background-color: #963c19;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-img {
  display: flex;
  justify-content: center;
  background-color: #963c19;
}

.about-cont img {
  object-fit: cover;
  position: relative;
}

.about-para {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-color: #963c19;
}

.about-cont p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 20px;
  color: white;
  background-color: #963c19;
  font-size: 15px;
  width: 60%;
}

.contact-div {
  width: 600px;
  height: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  left: 30vw;
  background-color: #140a41;
}

.contact-div h2 {
  text-align: center;
  font-family: "Fraunces", serif;
  background-color: #140a41;
  color: white;
  padding-bottom: 30px;
  padding-top: 50px;
  font-size: 40px;
}

.red-shape-three {
  width: 45px;
  height: 120px;
  background-color: #ff412d;
  position: relative;
  bottom: 200px;
  right: 350px;
}

.contact-container {
  background-color: #140a41;
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
  flex-direction: column;
  background-color: #140a41;
}

.icons i {
  font-size: 50px;
  color: white;
  background-color: #140a41;
  padding: 11px;
  text-align: center;
}

.icon-names {
  background-color: #140a41;
}

.icon-names p {
  background-color: #140a41;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

.icon-names a p:hover {
  text-decoration: underline;
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid #d8c3a5;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid #d8c3a5;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-15px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
